@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
  text-decoration: none;
}

html, body {
  background-color: lightgray;
}

main{
  margin: auto;
  padding: 2rem;
  width: 80vw;
  background-color:white;
  border-radius:15px;
}

header {
  background-color: gray;
  padding: .5rem 1rem 0.2rem 3.5rem;
}

header h1 {
  color:white;
  font-size: 1.5rem;
}

menu {
  display: block;
}

menu ul {
  list-style-type: none;
}

menu ul li a {
  width: 86.7vw;
  display: block;
  padding: 0.5rem 0;
  text-decoration: none;
  text-align: center;
  background-color:rgb(86, 85, 85);
  color: white;
  border-top: 1px solid gray;
}

menu ul li a:hover {
  background-color:white;
  color: rgb(14, 13, 13)
}

article h2{
  text-align: center;
}

article p {
  text-align: justify;
  margin-bottom:15px;
  text-indent: 20px;
}
